<!DOCTYPE html>
<html>
  <head>
    <title>Error</title>
    <link rel="stylesheet" href="<%= asset_path('tailwind.css') %>">
  </head>
  <body class="bg-gray-100 text-gray-900">
    <%= yield %>
  </body>
</html>